*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root{
    --almost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion:#F15051;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}

body{
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}


.header-mobile {
    
}